#gazo1 {
    text-align: center;
    width: 100%;
}
body {
    background-color: rgb(72, 177, 209);
}
.title {
    text-align: center;
    width: 100%;
}
.main {
    text-align: center;
    width: 100%;
}
.zikan {
    text-align: center;
    width: 100%;
}
