* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    font-size: 16px;
    font-family: Avenir , "Open Sans" , "Helvetica Neue" , Helvetica , Arial , Verdana , Roboto , "æ¸¸ã‚´ã‚·ãƒƒã‚¯" , "Yu Gothic" , "æ¸¸ã‚´ã‚·ãƒƒã‚¯ä½“" , "YuGothic" , "ãƒ’ãƒ©ã‚®ãƒŽè§’ã‚´ Pro W3" , "Hiragino Kaku Gothic Pro" , "Meiryo UI" , "ãƒ¡ã‚¤ãƒªã‚ª" , Meiryo , "ï¼­ï¼³ ï¼°ã‚´ã‚·ãƒƒã‚¯" , "MS PGothic" , sans-serif;
    width: 100%;
    height: 100%;
    font-family: "ãƒ’ãƒ©ã‚®ãƒŽè§’ã‚´ Pro W3", "Hiragino Kaku Gothic Pro",Osaka, "ãƒ¡ã‚¤ãƒªã‚ª", Meiryo, "ï¼­ï¼³ ï¼°ã‚´ã‚·ãƒƒã‚¯", "MS PGothic", sans-serif;
    font-size: 14pt;
  }
  header, footer {
    background: #000;
    color: #fff;
  }
header {
  height: 120px;
}
footer {
  height: 60px;
  text-align: center;
}
.main {
  height: calc(100vh - 120px - 60px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.page-title {
  padding: 30px;
  font-size: 3em;
}
.copyright {
  padding: 1em;
}
#change-target {
  font-size: 5em;
}

.due-date-container {
  text-align: center;
}
.due-date-container span {
  font-size: 3em;
}
.due-date-container span.due-date-value {
  font-size: 5em;
}
* {
    box-sizing: border-box;
  }
  *::before, *::after {
    box-sizing: inherit;
  }
  #top {
    padding: 0;
    margin: 0;
    min-height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eee;
    background-size: cover;
    background-position: center center;
  }
  
  #top>h1 {
    text-align: center;
    font-size: 5rem;
    text-shadow: 1px 1px 3px #ffffff, -1px -1px 0px #ebebeb;
  }
  
  .slider-controller {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
  }
  
  .slider-controller ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
  }
  
  #sc-to-left,
  #sc-to-right {
    display: inline-block;
    font-size: 2rem;
    width: 120px;
    line-height: 3em;
    background-color: #bbb;
    color: #f0f0f0;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    opacity: 0.75;
  }
  
  section[role="mains"]>article,
  section[role="mains"]>aside {
    width: 960px;
    max-width: 95vw;
    margin: 0 auto;
  }
  
  section[role="mains"] {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .thumbnail {
    display: inline;
    height: 80px;
    margin-right: 15px;
    margin-left: 15px;
  }
  .thumbnail img {
    height: 100%;
}

